doc/*.aux
doc/*.bbl
doc/*.brf
doc/*.css
doc/*.html
doc/*.gz
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.js
doc/*.lab
doc/*.tex
doc/*.out
doc/*.blg
doc/*.pnr
doc/*.six
doc/*.txt
doc/*.log
doc/*.toc

doc/main.pdf

dev/